{
  "extends": ["taro/react","plugin:react-hooks/recommended","plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}

